.v-list-item {
  border-bottom: 1px solid lightgray !important;
}

.subhd {
  background-color: rgba(236, 236, 236, 0.2);
}

.skills {
  border: none !important;
}

.subcontent {
  font-size: 14px;
  color: darkgray;
}
