.v-list-item {
  border-bottom: 1px solid lightgray !important;
}

.subhd {
  background-color: rgba(236, 236, 236, 0.2);
}

.skills {
  border: none !important;
}

.subcontent {
  font-size: 14px;
  color: darkgray;
}

.projectCnt span {
  bottom: -0.5em !important;
  left: -0.5em !important;
}

.pjLabel {
  font-weight: 600;
  font-size: 16px;
}

@media (width < 800px) {
  .projectCnt span {
    left: -1em !important;
  }
}
