#detailsTitle {
  justify-content: center;
  font-size: 30px;
  width: 100%;
  height: auto;
  padding-top: 3em;
  padding-bottom: 1em;
  font-weight: 700;
}

#subTitle {
  display: flex;
  justify-content: center;
  color: darkgray;
}

#keywords {
  padding: 1em;
  display: flex;
  justify-content: center;

  .keyword {
    margin: 2px;
  }
}

#btnBox {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

#relatedPosts {
  padding-left: 20px;
  padding-right: 20px;

  .relatedPostTitle {
    padding: 0.4rem 0 0.4rem 0;
  }

  .relatedPostList {
    padding-left: 0.4rem;
    min-height: 2rem;

    color: darkgray;
    text-decoration: underline;
  }
}

@media (width < 800px) {
  #detailsTitle {
    font-size: 20px;
  }
}
